@model IList<AutomapperSample.Models.CustomerDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerDto in Model)
        {
            <tr>
                <th scope="row">@customerDto.Id</th>
                <td>@customerDto.FirstName</td>
                <td>@customerDto.LastName</td>
                <td>@customerDto.Email</td>
            </tr>
        }
      
    </tbody>
</table>

